@media screen and (max-width: 480px) {
  .calculatorContainer {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    background-color: lightgray;
    border: 1px solid black;
    padding: 2%; }
  .buttonsArea {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "onOff memory memory1 memory2 divide" "change seven eight nine multiply" "percent four five six minus" "C one two three plus" "AC zero dot equal plus";
    width: 100%;
    text-align: center;
    height: 300px; } }

@media screen and (max-width: 480px) {
  .calcScreen {
    display: flex;
    justify-content: flex-end;
    font-size: 2em;
    width: 80%;
    height: 100px;
    margin: auto;
    background-color: grey; } }

@media screen and (max-width: 480px) {
  .calcButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: rgba(27, 26, 26, 0.651);
    color: white;
    font-weight: 900; } }
