@include mediaQuery-phone{
    .calcScreen{
        display:flex;
        justify-content: flex-end;
        font-size:2em;
        width:80%;
        height:100px;
        margin:auto;
        background-color:grey;
    }
};